//Project Structure//

bash
ecommerce-website/
client/
public/
index.html
src/
components/
App.js
Header.js
Footer.js
ProductList.js
ProductDetail.js
containers/
AppContainer.js
ProductContainer.js
actions/
productActions.js
types/
productTypes.js
reducers/
productReducer.js
store.js
index.js
server/
models/
Product.js
User.js
controllers/
productController.js
userController.js
routes/
productRoutes.js
userRoutes.js
app.js
package.json
